ClienteInventario/ClienteInventario/Connected Services/WcfServicioInventario/Stock1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioInventario.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioInventario.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos" nillable="true" type="tns:ArrayOfProductos" />
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Producto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>