ClienteInventario/ClienteInventario/Connected Services/WcfServicioInventario/Stock.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioInventario.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioInventario.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInventario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventario" nillable="true" type="tns:Inventario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventario" nillable="true" type="tns:ArrayOfInventario" />
  <xs:complexType name="Inventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Producto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="StockInventario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventario" nillable="true" type="tns:Inventario" />
</xs:schema>